body{

    background: grey url('../img/ui/bg/bg.jpeg');
    text-align: center;
    font-family: sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}


a{

    color: #17337e;
    text-decoration: none;
}


table, img, div, textarea{

    max-width: 100%;
}

@media (min-width: 600px) {

    body{ max-width: 80% }
}

@media (min-width: 900px) {

    body{ max-width: 60% }
}


h1, h2{

    font-family: goudy;
}


input[type="button"], button, select {

  background-color: rgba(255, 255, 255, .4);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

input[type="button"]:hover, button:hover,
input[type="button"]:focus, button:focus,
select:hover, select:focus{

  background-color: #e6e6e6;
}

input[type="button"]:focus, button:focus, select:focus {

  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

input[type="button"]:active, button:active, select:active {

  background-color: #d9d9d9;
  box-shadow: none;
}

input[type="button"]:disabled, button:disabled, select:disabled{

  color: grey;
  box-shadow: none;
}


input[type="text"], input[type="password"], input[type="number"]{

    background: url('../img/ui/bg/bg_white2.jpeg');
}


/*
 * fonts
 */


@font-face {

  font-family: goudy;
  src: url('fonts/goudy.ttf');
}


/*
 * tools
 */

.box-shadow{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desaturate{

  filter: grayscale(1);
}

.blink {

    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.glow{

  animation-name: glowing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes glowing {
    0%   {
        filter: brightness(1 );
    }
    50%  {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
}


.popup, #ui-card{

    position: absolute;
    top: 110px;
    z-index: 100;
    margin: 0 auto;
}

.marbre{

    background: url('../img/ui/bg/marbre.jpeg');
}


[data-src] {

  filter: blur(0.2em);
}

img {

    filter: blur(0em);
    transition: filter 0.5s;
}


/*
 * menu
 */


#caracs-menu{

    display: none;
    font-size: 88%;
}

#caracs-menu-landing{

/*     font-size: 88%; */
}


/*
 * index
 */


#index-changelog, #index-discord{

    margin-top: 5px;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: left;
}

#index-discord{

    top: 32px;
}

.install-app{

    border-radius: 5px;
    background: #fff;
    color: black;
    text-decoration: none;
    padding: 4px;
    font-size: 88%;
    opacity: 0.7;
    font-family: monospace;
}

    .install-app:hover{

        opacity: 1;
    }
    .install-app img{

        margin-top: -1px;
        margin-left: 1px;
        vertical-align: middle;
    }


#top-menu-button{

    margin-top: -7px;
    margin-bottom: -10px;
    height: 43px;
}

    #top-menu-button img{

        filter: grayscale(1);
        opacity: 0.5;
    }

    #top-menu-button img:hover{

        filter: grayscale(0);
        opacity: 1;
    }


#index-menu{

    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.index-button{

    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/ui/bg/button1.png');
    width: 200px;
    height: 58px;
    color: white;
    font-family: goudy;
    font-size: 1.5em;
}

    .index-button:hover{

        background: url('../img/ui/bg/button2.png');
    }

    .index-button:active{

        background: url('../img/ui/bg/button3.png');
    }

.preload img{

    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.player-info{

    font-size: 88%;
    white-space: nowrap;
}

#index-partenaires{

    margin: 50px;
}

    #index-partenaires img{

        max-width: 100px;
    }


/*
 * view
 */

#view{

    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: 20px;
}

#svg-view{

    cursor: pointer;
}

.avatar-shadow{

    filter: contrast(0%) brightness(50%);
    width: 35px;
    margin-top: 14px;
    margin-left: -5px;
    z-index: 1;
    opacity: 0.5;
}

.transparent-gradient{

    -webkit-mask-image:-webkit-gradient(linear, top, bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/*
 * MAP
 */


#ui-map {

    background: url(../img/ui/map/parchemin.gif);
    width: 800px;
    margin: 0 auto;
}

#svg-map {

    background: url(../img/ui/map/parchemin.png);
}

.map.location {

    cursor: pointer;
}

#svg-map .text {

    font-family: goudy;
    font-size: 180%;
    display: none;
    pointer-events: none;
    fill: black;
    paint-order: stroke;
    stroke: #eac198;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

#svg-map .colored-red {

    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(7495%) hue-rotate(1deg) brightness(103%) contrast(103%);
}


.map-local{

    margin: 10px;
}

/*
 * case infos
 */

.case-infos{

    width: 300px;
    margin: 0 auto;
    font-size: 88%;
    margin-bottom: 25px;
}

    .case-infos img{

        float: left;
        margin: 7px;
    }

    .case-infos .text{

        text-align: left;
    }

#case-coords{

    font-size: 88%;
    opacity: 0.5;
}


/*
* card ui
*/

#ui-card {

    pointer-events: none;
    color: white;
}

#ui-card .card-wrapper {

    pointer-events: auto;
    padding: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 17px solid black;
    border-radius: 15px;
    position: relative;
}

    #ui-card .geant{

        background: url('../img/ui/cards/brown.jpeg');
    }

    #ui-card .nain{

        background: url('../img/ui/cards/red.jpeg');
    }

    #ui-card .elfe{

        background: url('../img/ui/cards/light_green.jpeg');
    }

    #ui-card .hs{

        background: url('../img/ui/cards/dark_green.jpeg');
    }

    #ui-card .olympien{

        background: url('../img/ui/cards/white_marble.jpeg');
    }

    #ui-card .redoraan{

        background: url('../img/ui/cards/white_fur.jpeg');
    }

    #ui-card .lutin{

        background: url('../img/ui/cards/white_clouds.jpeg');
    }


    #ui-card .card-name{

        text-align: left;
        margin-top: -10px;
        margin-left: -10px;
        position: relative;
    }

        #ui-card .card-name a{

            font-family: goudy;
            font-size: 1.3em;
            color: white;
            text-shadow: 1px 1px #0a0a0a;
            letter-spacing: 1px;
        }

        #ui-card .card-name .effects{

            position: absolute;
            top: 3px;
            right: -10px;
        }

            #ui-card .card-name .effects span{

                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 32px; /* Change the width and height as needed */
                height: 32px;
                background-color: black; /* Change the background color as needed */
                font-size: 1.3em; /* Adjust the font size as needed */
                border-radius: 50%; /* This makes the div a circle */
                text-align: center;
                margin: -5px;
            }

    #ui-card .card-image{

        overflow: hidden;
        width: 220px;
        height: 230px;
        margin-left: 7px;
        position: relative;
        border-bottom: 5px solid rgba(255,255,255,0.1);
    }

        #ui-card .card-image .card-portrait{

            position: absolute;
            top: 0;
            left: 0;
            border: 5px solid rgba(0,0,0,0.5);
            border-left: 5px solid rgba(255,255,255,0.1);
        }

    #ui-card .card-actions{

        position: absolute;
        top: 30px;
        right: -5px;
        text-align: right;
    }

    #ui-card .card-actions .action-name{

        display: none;
    }

    #ui-card .card-type{

        text-align: left;
        color: #eee;
        font-size: 88%;
        margin-left: -10px;
        text-shadow: 1px 1px #0a0a0a;
    }

    #ui-card .card-faction{

        position: absolute;
        right: 3px;
        top: 257px;
    }

        #ui-card .card-faction img{

            height: 25px;
        }

    #ui-card .card-text{

        color: grey;
        padding: 5px;
        margin-left: -5px;
        margin-right: -5px;
        width: 225px;
        height: 125px;
        overflow: scroll;
        text-align: left;
        background: rgba(0,0,0,0.8);
        border: 5px solid rgba(0,0,0,0.5);
        border-left: 5px solid rgba(255,255,255,0.1);
        border-bottom: 5px solid rgba(255,255,255,0.1);
        font-size: 88%;
    }

        #ui-card .card-text textarea{

            width: 100%;
            height: 100%;
            background: none;
            border: 0px;
            color: white;
            font-family: sans-serif;
            font-size: 88%;
            padding: 0;
            margin: 0;
        }

    #ui-card .action-text{

        color: white;
    }

    #ui-card .card-text .action-details{

        color: grey;
        font-size: 88%;
    }


/*
 * INVENTORY
 */

.item-name{

    position: relative;
}

.item-name .emplacement{

    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.7;
}


.inventory-container {

    margin: 0 auto;
    width: 350px;
    height: 250px;
    position: relative;
}

.preview-img img {

    width: 150px;
}

.preview-text {

    margin-top: 10px;
}

.preview-action {

    position: absolute;
    top: 0px;
    right: 0px;
}
    .preview-action button{

        float: right;
        width: 100px;
    }

.item-list {

    max-height: 375px;
    overflow: scroll;
    float: left;
}

.item-list table {

    width: 350px;
    border-collapse: collapse;
}

.item-case {

    cursor: pointer;
}

.item-case img {

    width: 50px;
}


/*
 * FORUM
 */

.tr-cat, .tr-forum, .post-rewards{

    cursor: pointer;
}

.tr-cat{

    background: url('../img/ui/bg/marbre.jpeg');
}

.tr-topic1{

    background: url('../img/ui/bg/bg_white1.jpeg');
}

.tr-topic2{

    background: url('../img/ui/bg/bg_white2.jpeg');
}

.post-rewards{

    margin-top: 20px;
    text-align: right;
}

    .post-rewards img{

        width: 50px;
        height: 50px;
    }

    .post-rewards span{

        font-size: 88%;
    }


.give-reward{

    opacity: 0.5;
}

    .give-reward:hover{

        opacity: 1;
    }

.cartouche{

    border: 0px solid #333;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#player-avatar{

    position: relative;
}

.bulle{

    position: absolute;
    top: 0;
    left: 0;
    background: red;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 88%;
    font-weight: bold;
}


.dest-container {

    margin: 0 auto;
    text-align: left;
    padding: 10px;
    font-size: 88%;
}


#dest-list {

    display: none;
}


#elebata{

    position: fixed;
    bottom: 5px;
    right: 5px;
}

    #elebata img{

        opacity: 0.3;
    }

    #elebata img:hover{

        opacity: 1;
    }


/*
 * infos target
 */


.infos-text{

    max-height: 150px;
    overflow: scroll;
    text-align: left;
}

.infos-portrait{

    position: relative;
}

    .infos-portrait .infos-effects{

        position: absolute;
        top: 0px;
        right: 0px;
        text-align: left;
        background: rgba(255,255,255,0.5);
    }

/*
 * RA COLORS
 */

.ra-horn-call{ color: red; } /* adrenaline */

.ra-small-fire{ color: gold; } /* feu */
.ra-water-drop{ color: #33ccff; } /* eau */
.ra-vine-whip{ color: green; } /* ronce */
.ra-sapphire{ color: #ffccff; } /* diamant */
.ra-shoe-prints{ color: brown; } /* boue */

.ra-gloop{ color: #990000; } /* sang */

.ra-health-increase{ color: #66d9ff; } /* heal */

.ra-bone-bite{ color: #66ff66; } /* poison */

.ra-player-pain{ color: #eee; } /* fatigue */

.ra-hand-emblem{ color: cyan; } /* sorts de soins */

.ra-barbed-arrow{ color: red; } /* sorts de dmg1 */
