body{

    background: grey url('../img/ui/bg/bg.jpeg');
    text-align: center;
    font-family: sans-serif;
}


a{

    color: #17337e;
    text-decoration: none;
}


table, img{

    max-width: 500px;
}


input[type="button"], button, select {
  background-color: rgba(255, 255, 255, .4);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

input[type="button"]:hover, button:hover,
input[type="button"]:focus, button:focus,
select:hover, select:focus{
  background-color: #e6e6e6;
}

input[type="button"]:focus, button:focus, select:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

input[type="button"]:active, button:active, select:active {
  background-color: #d9d9d9;
  box-shadow: none;
}

input[type="button"]:disabled, button:disabled, select:disabled {
  color: grey;
  box-shadow: none;
}


/*
 * fonts
 */


@font-face {
  font-family: goudy;
  src: url('fonts/goudy.ttf');
}


/*
 * tools
 */

.box-shadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.desaturate{
  filter: grayscale(1);
}

.blink {
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.popup, #ui-card, #ui-dialog{

    position: absolute;
    top: 182px;
    z-index: 100;
    width: 99%;
    margin: 0 auto;
}

.marbre{

    background: url('../img/ui/bg/marbre.jpeg');
}


/*
 * view
 */

#svg-view{

    cursor: pointer;
}

.avatar-shadow{
    filter: contrast(0%) brightness(50%);

    width: 35px;
    margin-top: 14px;
    margin-left: -5px;
    z-index: 1;
    opacity: 0.5;
}

.transparent-gradient{

    -webkit-mask-image:-webkit-gradient(linear, top, bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


/*
 * MAP
 */


#ui-map {

    background: url(../img/ui/map/parchemin.gif);
    width: 800px;
    margin: 0 auto;
}

#svg-map {

    background: url(../img/ui/map/parchemin.png);
}

.map.location {

    cursor: pointer;
}

#svg-map .text {

    font-family: goudy;
    font-size: 180%;
    display: none;
    pointer-events: none;
    fill: black;
    paint-order: stroke;
    stroke: #eac198;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}


/*
 * case infos
 */

.case-infos{

    width: 300px;
    margin: 0 auto;
    font-size: 88%;
    margin-bottom: 25px;
}

    .case-infos img{

        float: left;
        margin: 7px;
    }

    .case-infos .text{

        text-align: left;
    }

#case-coords{

    font-size: 88%;
    opacity: 0.5;
}


/*
* card ui
*/

#ui-card, #ui-item-list, #ui-dialog, #ui-map{

    color: white;
}

#ui-card .card-template, #ui-item-list .item-preview, #ui-dialog .dialog-template {

    width: 275px;
    height: 450px;
    margin: 0 auto;
    background: black;
    border: 15px solid black;
    border-radius: 15px;
}

    #ui-card .card-template-name{

        width: auto;
        padding: 15px;
        text-align: left;
        background: rgba(0,0,0,0.8);
    }

    #ui-card .card-template-img{

        width: 275px;
        height: 250px;
        text-align: right;
    }

        #action-data{

            position: absolute;
            font-size: 88%;
            text-align: left;
            width: 220px;
            margin: 5px;
            padding: 5px;
            background: rgba(0,0,0,0.8);
            display: none;
        }

        #action-data .action-details{

            font-size: 88%;
            color: grey;
        }


    #ui-card .card-template-type{

        width: 250px;
        text-align: left;
        opacity: 0.5;
    }

    #ui-card .card-template-text{

        width: auto;
        margin: 0 auto;
        height: 115px;;
        text-align: left;
        background: rgba(0,0,0,0.8);
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: scroll;
    }

    #ui-card .card-template-name, #ui-card .card-template-type{

        padding-left: 10px;
    }

        #ui-card .card-template-name .close-card{

            float: right;
        }

    #ui-card .action{

        color: black;
    }

        #ui-card .action .action-name{

            display: none;
        }

/*
 * INVENTORY
 */


.inventory-container {

    margin: 0 auto;
    width: 350px;
    height: 250px;
    position: relative;
}

.preview-img img {

    width: 150px;
}

.preview-text {

    margin-top: 10px;
}

.preview-action {

    position: absolute;
    top: 0px;
    right: 0px;
}
    .preview-action button{

        float: right;
        width: 80px;
    }

.item-list {

    max-height: 500px;
    overflow: scroll;
    float: left;
}

.item-list table {

    width: 350px;
    border-collapse: collapse;
}

.item-case {

    cursor: pointer;
}

.item-case img {

    width: 50px;
}


/*
 * RA COLORS
 */

.ra-horn-call{ color: red; } /* adrenaline */

.ra-small-fire{ color: gold; } /* feu */
.ra-water-drop{ color: #33ccff; } /* eau */
.ra-vine-whip{ color: green; } /* ronce */
.ra-sapphire{ color: #ffccff; } /* diamant */
.ra-shoe-prints{ color: brown; } /* boue */

.ra-gloop{ color: #990000; } /* sang */

.ra-health-increase{ color: #66d9ff; } /* heal */

.ra-bone-bite{ color: #66ff66; } /* poison */
