wiki/
img/ui/forum/uploads/*
datas/public/classements/*
datas/private/players/
datas/private/console/
datas/private/forum/
config/db_constants.php
sessions/
db/updates_done/
/data/
/.idea/
*.kate-swp
