# Activer le moteur de réécriture d'URL
RewriteEngine On

# Si le mode maintenance est activé, rediriger vers la page de maintenance
RewriteCond %{DOCUMENT_ROOT}/maintenance.flag -f
RewriteCond %{REQUEST_URI} !/maintenance\.html$ [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js|otf)$ [NC]
RewriteRule ^.*$ /maintenance.html [R=503,L]

# Définir la page d'erreur pour le code 503
ErrorDocument 503 /maintenance.html

# Bloquer l'accès à tous les fichiers dans le dossier /sessions
RewriteRule ^sessions/ - [F,L]

# Redirection HTTP vers HTTPS sauf pour les requêtes locales
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$ [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Configurer le chemin de sauvegarde des sessions PHP
# php_value session.save_path "/home/leo/Documents/Prog/www/aoo4/sessions"
