services:
  webserver:
    user: "${UID}:${GID}"
    container_name: PHP-AOO4-Local
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
      - ${AOO_GAME_DATA:-./datas}:/var/www/html/datas
      - ${DB_CONFIG:-./config/db_constants.php}:/var/www/html/config/db_constants.php
      - ${AOO_GAME_IMG:-./img}:/var/www/html/img
    ports:
      - "9000:80"
    depends_on:
      - mariadb-aoo4
  mariadb-aoo4:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: passwordRoot
      MYSQL_DATABASE: ${DB_NAME:-aoo4}
      MYSQL_USER: run
      MYSQL_PASSWORD: password
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db/init_noupdates.sql:/docker-entrypoint-initdb.d/1-init-data.sql
      - ./db/add_player_type_and_display_id.sql:/docker-entrypoint-initdb.d/1.5-add-player-columns.sql
      - ./db/updates/20250609.update_energie.sql:/docker-entrypoint-initdb.d/1.6-rename-fatigue-to-energie.sql
      - ./db/updates/20251207.add_tooltip_offset_columns.sql:/docker-entrypoint-initdb.d/1.7-add-tooltip-offset.sql
      - ./db/init_test_complete.sql:/docker-entrypoint-initdb.d/2-init-test-complete.sql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mariadb-aoo4
      MYSQL_ROOT_PASSWORD: passwordRoot
      UPLOAD_LIMIT: 300M

volumes:
  mariadb_data:
    driver: local
