parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: admin/helpers.php

		-
			message: '#^Method App\\Service\\ViewService\:\:getAllPlans\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: admin/local_maps.php

		-
			message: '#^Method App\\Service\\ViewService\:\:getAllPlans\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: admin/screenshots.php

		-
			message: '#^Variable \$imageUrl might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: admin/screenshots.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: admin/tutorial-catalog.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: admin/tutorial-step-editor.php

		-
			message: '#^Using nullsafe property access "\?\-\>respawnPlan" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: api/tutorial/cancel.php

		-
			message: '#^Using nullsafe property access "\?\-\>respawnPlan" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: api/tutorial/complete.php

		-
			message: '#^Function getConnection not found\.$#'
			identifier: function.notFound
			count: 1
			path: api/tutorial/jump-to-step.php

		-
			message: '#^Using nullsafe property access "\?\-\>respawnPlan" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: api/tutorial/skip.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: classements.php

		-
			message: '#^Variable \$first might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: classements.php

		-
			message: '#^Static property App\\Action\\ActionFactory\:\:\$actionClasses is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Action/ActionFactory.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 9
			path: src/Action/AttackAction.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 9
			path: src/Service/Action/Xp/AttackXpCalculator.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 3
			path: src/Service/Action/Xp/TrainXpCalculator.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/BuffComputeCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$playerPassiveService\.$#'
			identifier: property.notFound
			count: 3
			path: src/Action/Condition/BuffComputeCondition.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Action/Condition/BuffComputeCondition.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Action/Condition/BuffComputeCondition.php


		-
			message: '#^Method App\\Action\\Condition\\DistancePureComputeCondition\:\:getDistanceTreshold\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: src/Action/Condition/DistancePureComputeCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$coords\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/DodgeCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 5
			path: src/Action/Condition/DodgeCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$emplacements\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/DodgeCondition.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Action/Condition/ForbidIfHasEffectCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$emplacements\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/ForbidOnEquipedObjectStatusCondition.php


		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/NoBerserkCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$coords\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/ObstacleCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$coords\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/PlanCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$coords\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/RequiresAmmoCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$emplacements\.$#'
			identifier: property.notFound
			count: 9
			path: src/Action/Condition/RequiresAmmoCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/RequiresGodAffiliationCondition.php

		-
			message: '#^Class App\\Action\\Condition\\ConditionResult constructor invoked with 6 parameters, 3 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Action/Condition/RequiresResourceCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/RequiresTraitValueCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$playerEffectService\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/RequiresTraitValueCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$emplacements\.$#'
			identifier: property.notFound
			count: 1
			path: src/Action/Condition/RequiresWeaponCraftedWithCondition.php

		-
			message: '#^Property App\\Action\\Condition\\RequiresWeaponCraftedWithCondition\:\:\$errorMessage \(string\|null\) is never assigned string so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Action/Condition/RequiresWeaponCraftedWithCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$emplacements\.$#'
			identifier: property.notFound
			count: 5
			path: src/Action/OutcomeInstruction/DamageObjectOutcomeInstruction.php

		-
			message: '#^Comparison operation "\<\=" between int\<1, 100\> and 0 is always false\.$#'
			identifier: smallerOrEqual.alwaysFalse
			count: 1
			path: src/Action/OutcomeInstruction/DamageObjectOutcomeInstruction.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 2
			path: src/Action/OutcomeInstruction/DamageObjectOutcomeInstruction.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$caracs\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/OutcomeInstruction/LifeLossOutcomeInstruction.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Action/OutcomeInstruction/LifeLossOutcomeInstruction.php

		-
			message: '#^Variable \$totalDamages on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Action/OutcomeInstruction/LifeLossOutcomeInstruction.php

		-
			message: '#^Variable \$gain might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Action/OutcomeInstruction/ObjectOutcomeInstruction.php

		-
			message: '#^Variable \$rand might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Action/OutcomeInstruction/ResourceOutcomeInstruction.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$data\.$#'
			identifier: property.notFound
			count: 6
			path: src/Action/TrainAction.php

		-
			message: '#^Property App\\Entity\\Action\:\:\$automaticOutcomeInstructions in isset\(\) is not nullable nor uninitialized\.$#'
			identifier: isset.initializedProperty
			count: 3
			path: src/Entity/Action.php

		-
			message: '#^Property App\\Entity\\Audit\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Audit.php

		-
			message: '#^Constant DB_CONSTANTS not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Entity/EntityManagerFactory.php

		-
			message: '#^Property App\\Entity\\Race\:\:\$code is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Race.php

		-
			message: '#^Property App\\Entity\\Race\:\:\$hidden is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Race.php

		-
			message: '#^Property App\\Entity\\Race\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Race.php

		-
			message: '#^Property App\\Entity\\Race\:\:\$playable is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Race.php

		-
			message: '#^Class App\\Entity\\Recipe referenced with incorrect case\: App\\Entity\\recipe\.$#'
			identifier: class.nameCase
			count: 1
			path: src/Entity/RecipeResult.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Service/ActionExecutorService.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Service/ForumCookieService.php

		-
			message: '#^Method Classes\\Player\:\:add_action\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Service/InventoryService.php

		-
			message: '#^Left side of \|\| is always false\.$#'
			identifier: booleanOr.leftAlwaysFalse
			count: 1
			path: src/Service/PlantsService.php

		-
			message: '#^Variable \$growTo might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Service/PlantsService.php


		-
			message: '#^Method App\\Service\\ScreenshotService\:\:convertImagesToBase64\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Service/ScreenshotService.php

		-
			message: '#^Method App\\Service\\ScreenshotService\:\:savePlayerPosition\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Service/ScreenshotService.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Service/ScreenshotService.php

		-
			message: '#^Strict comparison using \!\=\= between 0\.0\|''''\|array\{\}\|false\|null and ''\-1'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Service/TutorialStepValidationService.php

		-
			message: '#^Strict comparison using \!\=\= between 0\.0\|''''\|array\{\}\|false\|null and \-1 will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Service/TutorialStepValidationService.php

		-
			message: '#^Method App\\Service\\ViewService\:\:saveImage\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Service/ViewService.php

		-
			message: '#^Property App\\Service\\ViewService\:\:\$raceService is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Service/ViewService.php

		-
			message: '#^Variable \$baseName might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Service/ViewService.php

		-
			message: '#^Variable \$bgKey on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Service/ViewService.php

		-
			message: '#^Variable \$x might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Service/ViewService.php

		-
			message: '#^Variable \$y might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Service/ViewService.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(App\\Tutorial\\Steps\\AbstractStep\) and ''getValidationHint'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Tutorial/Steps/AbstractStep.php

		-
			message: '#^Method App\\Tutorial\\Steps\\AbstractStep\:\:getStepNumber\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: src/Tutorial/Steps/AbstractStep.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Tutorial/Steps/AbstractStep.php

		-
			message: '#^Using nullsafe property access "\?\-\>race" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Tutorial/Steps/AbstractStep.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 5
			path: src/Tutorial/TutorialContext.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 5
			path: src/Tutorial/TutorialContext.php

		-
			message: '#^Strict comparison using \=\=\= between \*NEVER\* and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 4
			path: src/Tutorial/TutorialContext.php

		-
			message: '#^Strict comparison using \=\=\= between object and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 5
			path: src/Tutorial/TutorialContext.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: src/Tutorial/TutorialHelper.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 2
			path: src/Tutorial/TutorialHelper.php

		-
			message: '#^Strict comparison using \=\=\= between object and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Tutorial/TutorialHelper.php

		-
			message: '#^Call to function method_exists\(\) with App\\Tutorial\\Steps\\AbstractStep and ''getValidationHint'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Tutorial/TutorialManager.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Tutorial/TutorialManager.php

		-
			message: '#^Property App\\Tutorial\\TutorialMapInstance\:\:\$db is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Tutorial/TutorialMapInstance.php

		-
			message: '#^Method Doctrine\\ORM\\EntityManager\:\:clear\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Tutorial/TutorialPlayerFactory.php

		-
			message: '#^Variable \$contextChanges on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Tutorial/TutorialStepRepository.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/View/Classement/BourrinsView.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/View/Classement/FoiView.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/View/Classement/FortunesView.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/View/Classement/ReputationsView.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/View/FactionView.php

		-
			message: '#^Using nullsafe property access "\?\-\>bgColor" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/View/Forum/MissiveView.php

		-
			message: '#^Using nullsafe property access "\?\-\>color" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/View/Forum/MissiveView.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 5
			path: src/View/Forum/MissiveView.php

		-
			message: '#^Variable \$search might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/View/Forum/SearchView.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 1
			path: src/View/Forum/TopicView.php

		-
			message: '#^Using nullsafe property access "\?\-\>text" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/View/InfosView.php

		-
			message: '#^Using nullsafe property access "\?\-\>time" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/View/InfosView.php

		-
			message: '#^Function get_json_item not found\.$#'
			identifier: function.notFound
			count: 3
			path: src/View/Inventory/CraftView.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 1
			path: src/View/Inventory/CraftView.php

		-
			message: '#^Function getTooltip not found\.$#'
			identifier: function.notFound
			count: 7
			path: src/View/NewTurnView.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 1
			path: src/View/NewTurnView.php

		-
			message: '#^Variable \$recovEnergie might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/View/NewTurnView.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/View/QuestsView.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/View/WarSchool/DistanceView.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/View/WarSchool/DistanceView.php

		-
			message: '#^Variable \$isFull might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/View/WarSchool/DistanceView.php

		-
			message: '#^Variable \$passiveRace in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/View/WarSchool/DistanceView.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/View/WarSchool/MagicView.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/View/WarSchool/MagicView.php

		-
			message: '#^Variable \$passiveRace in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/View/WarSchool/MagicView.php

		-
			message: '#^Variable \$isFull might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/View/WarSchool/MeleeView.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/View/WarSchool/StealthView.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/View/WarSchool/StealthView.php

		-
			message: '#^Variable \$isFull might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/View/WarSchool/StealthView.php

		-
			message: '#^Variable \$passiveRace in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/View/WarSchool/StealthView.php

		-
			message: '#^Variable \$passives in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/View/WarSchool/WarSchoolUtils.php


		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Action/Condition/AbstractComputeCondition.php

		-
			message: '#^Access to an undefined property App\\Interface\\ActorInterface\:\:\$playerPassiveService\.$#'
			identifier: property.notFound
			count: 6
			path: src/Action/Condition/AbstractComputeCondition.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Action/Condition/AbstractComputeCondition.php