<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         colors="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Service">
            <directory suffix="Test.php">tests/Action/Service</directory>
        </testsuite>
        
        <testsuite name="Fight">
            <directory suffix="Test.php">tests/Action/Fight</directory>
        </testsuite>
        
        <testsuite name="Logs">
            <directory suffix="Test.php">tests/Logs</directory>
        </testsuite>
        
        <testsuite name="Conditions">
            <directory suffix="Test.php">tests/Action/Condition/</directory>
        </testsuite>
        
        <testsuite name="Outcomes">
            <directory suffix="Test.php">tests/Action/OutcomeInstruction/</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">Classes/</directory>
            <directory suffix=".php">config/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
        </exclude>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>

    <coverage>
        <report>
            <html outputDirectory="tmp/coverage"/>
            <cobertura outputFile="tmp/coverage/cobertura.xml"/>
        </report>
    </coverage>
</phpunit>
